body {
  font-family: Arial, sans-serif;
  /*background-color: #f0f0f0;*/
  background-image: url("Weather.jpg");
  background-size: cover;
  background-position: center;

  overflow: scroll;
}

.weatherSearch {
  width: 40%;
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  /* Set the background color to be transparent */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* Adjust the alpha value here for the box shadow transparency */
  margin: 3%
    /*justify-content: center; (ln 9 sets it to center)*/
}

h1 {
  font-size: 20px;
}

input[type="text"] {
  width: 85%;
  padding: 10px;
  /* Height */
  margin: 20px 0;
  /* space around */
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.weather-info {
  margin-top: 20px;
}

.feedback {
  width: 48%;
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 3%
}

.invisible {
  display: flex;
  max-width: 100%;
  margin: 0%;
  text-align: center;
}

.AIResponse {
  width: 85%;
  margin: 10px;
  background-color: rgba(150, 200, 200, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.title {
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  margin: 50px;
  padding: 20px;
  background-color: #007BFF;

}